[paths]
source =
   src/multiline_formatter
   */site-packages/multiline_formatter

[run]
branch = True
source = multiline_formatter
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
